body {
    background-color: black;
    font-family: courier;
    text-align: center;
    color: white;
}

h4 {
    border: 2px solid red;
    padding: 3px;
}

.button-container {
    position: relative;
    text-align: left;
    margin: 10px;
}

.button-container button {
    margin-right: 10px;
}
}
